body {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmNQQMLJM3WJVjuW-v_-SPiJhhNrYY0bcAdRJDeuOHvbDdlm27DA);
  background-repeat: no-repeat;
  background-size: 1300px;
}
