body {
  background-image: url(http://i.stack.imgur.com/8zEoh.png);
  background-repeat: no-repeat;
  background-size: 1300px;
}

h3 {
  text-align: center;
}

html {
  text-align: center;
}

span {
  color: red;
}
